* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Classes */

.section-center {
  width: 87vw;
  max-width: 1170px;
  padding: 4rem 0;
  margin: 0 auto;
}

nav {
  position: fixed;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
}

/* fixed navabr */
.navbar-fixed {
  background: black;
  filter: drop-shadow(0 3px 3px black);
}

.logo {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  text-transform: capitalize;
}

.toggle-btn {
  justify-self: right;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.toggle-btn:hover {
  color: rgb(155, 175, 38);
}

.header {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(./images/pexels-photo-2356071.jpeg) center/cover no-repeat;
  color: white;
  display: grid;
  place-items: center;
  padding: 2rem;
  text-transform: capitalize;
  overflow-x: hidden;
}

@media screen and (min-width: 796px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
      url(./images/pexels-photo-2356071.jpeg) center/cover no-repeat fixed;
  }
}

.banner {
  text-align: center;
  line-height: 4rem;
}

.banner h1 {
  font-size: 30px;
  line-height: 2em;
}

.banner span {
  font-size: 90px;
}

.banner h3 {
  font-size: 25px;
}

.navlinks {
  display: none;
}

@media screen and (min-width: 796px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .navlinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .navlinks li {
    list-style: none;
    font-size: 1.5rem;
  }

  .navlinks a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .toggle-btn {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.close-btn:hover {
  color: red;
}

.sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: white;
  z-index: 5;
  display: grid;
  place-items: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

/* this is the class that will show the sidebar */
.show-sidebar {
  transform: translate(0);
}

.sidebar li {
  list-style: none;
  font-size: 3rem;
  margin-top: 1.5rem;
}

.sidebar-links a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}

.sidebar-links a:hover {
  color: rgb(155, 175, 38);
}

/* About */

.about {
  padding: 1rem 0;
}

.about-info {
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.about-info p {
  padding: 1rem;
  text-align: left;
  max-width: 40rem;
}

.about-title {
  text-transform: capitalize;
  margin-top: -2rem;
  font-size: 1.5rem;
}

.about-btn {
  width: 8rem;
  height: 2.5rem;
  background: linear-gradient(
    to bottom,
    rgba(8, 24, 20, 0.4),
    lightgreen,
    rgba(30, 4, 175, 0.8)
  );
  border: transparent;
  margin-top: 1.5rem;
  cursor: pointer;
  outline: 3px solid darkgreen;
  outline-offset: 1.5px;
  transition: all 0.1s ease-in-out;
}

.about-btn:hover {
  background: black;
  outline-offset: 0;
}

.about-btn:hover a {
  transition: all 0.3s ease-in-out;
  color: white;
}

.about-btn a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.about-center {
  text-align: center;
}

.img {
  width: 100%;
  object-fit: cover;
}

.about-img {
  position: relative;
}

.about-img img {
  border-radius: 5px;
  filter: drop-shadow(0 3px 3px black);
}

@media screen and (min-width: 786px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 996px) {
  .about-img img {
    /* width: 500px; */
    width: 100%;
    object-fit: cover;
  }

  /* content divider */
  .content-divider {
    width: 100%;
    height: 5px;
    background: linear-gradient(
      to left,
      rgba(116, 214, 113, 0.4),
      purple,
      rgba(156, 16, 16, 0.3)
    );
  }
}

/* contact item */
.contact {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(./images/contact-image-2.jpeg) center/cover no-repeat;
}

/* contact header */
.contact-header {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
  display: grid;
  place-items: center;
  text-decoration: underline;
  margin-bottom: -2rem;
  padding-top: 1rem;
}

.contact-form,
.contact-info {
  margin: 2rem;
  line-height: 2rem;
}

.contact-text,
.contact-title {
  margin: 0.5rem;
}

.contact-item {
  margin: 2rem;
}

.contact-title {
  text-transform: capitalize;
  font-size: 1.7rem;
  color: lightblue;
  max-width: 35rem;
}

.contact-text {
  font-size: 1.3rem;
  color: white;
}

/* contact-form */

.contact-form {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  max-width: 35rem;
  transition: all 0.5s linear;
  cursor: pointer;
}

.form-group {
  display: grid;
  place-items: center;
}

.form-control {
  display: block;
  border: transparent;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  padding: 1rem 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  width: 90%;
  color: white;
}

.form-control::placeholder {
  color: white;
  text-transform: capitalize;
  font-size: 1rem;
}

.contact-form h4 {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (min-width: 796px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .contact-info {
    margin-left: 3rem;
  }
}

/* submit button */
.submit-btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: linear-gradient(rgba(255, 200, 255), rgba(0, 0, 0, 0.2));
  border: none;
  color: black;
  font-size: 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
  letter-spacing: 0.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submit-btn:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  color: white;
}
